/* ---------------- Style for the whole page ---------------- */
* {
    margin: 0;
    padding: 0;
}

.navbar {
    height: 60px;
    width: 100%;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.border {
    border: 1.5px solid transparent;
    border-radius: 2px;
}

.border:hover {
    border: 1.5px solid white;
    border-radius: 3px;
}

/* ---------------- Amazon Logo in the nav bar ---------------- */
.nav_logo {
    height: 50px;
    width: 100px;
}

.logo {
    background-image: url("photos/Amazon_logo.png");
    height: 100%;
    width: 100%;
    background-size: cover;
}

/* ---------------- Address div in the nav bar ---------------- */
.nav_address {
    padding-left: 10px;
    padding-right: 10px;
}

.add_para {
    margin-left: 15px;
    color: #cccccc;
    font-size: 0.85rem;
}

.add_icon {
    display: flex;
}

.add_para2 {
    margin-left: 4px;
}


/* ---------------- Search div in the nav bar ---------------- */

.nav_search {
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
}

.nav_select {
    height: 100%;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.nav_input {
    height: 92%;
    width: 700px;
    padding-left: 5px;
    font-size: 16px;
}

.logo_search {
    width: 45px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: orange;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color: black;
}

/* ---------------- Account div in the nav bar ---------------- */

.nav_Account {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    padding-right: 10px;
}

.Acc_first {
    font-size: .85rem;
    padding-left: 10px;
    padding-right: 10px;
}

.Acc_second {
    font-weight: 700;
    padding-left: 10px;
    padding-right: 10px;
}

/* ---------------- Orders div in the nav bar ---------------- */

.nav_ordert {
    display: flex;
    flex-direction: column;
}

.Acc_first {
    font-size: .80rem;
}

.Acc_second {
    font-weight: 700;
}

/* ---------------- Cart div in the nav bar ---------------- */

.nav_cart {
    display: flex;
    align-items: baseline;
}

.Cart {
    font-size: 30px;
}

/* ---------------- Panel section ---------------- */

.panel_main {
    height: 40px;
    width: 100%;
    background-color: #222f3d;
    display: flex;
    color: white;
    align-items: center;
}

.panel_all {
    margin: 10px;
    padding: 10px;
    display: flex;
}

.bold {
    font-weight: bold;
    padding-left: 3px;
}

.panel_ops {
    display: flex;
    width: 80%;
}

.panel {
    margin: 10px;
}

/* ---------------- Hero section ---------------- */
.Hero_section {
    background-image: url("photos/61lwJy4B8PL._SX3000_.jpg");
    background-size: cover;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: last baseline;
}

.hero_msg {
    height: 35px;
    background-color: white;
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

/* ---------------- Shop section ---------------- */

.shop_section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #e2e7e6;
    padding: 20px;
}

.box {
    display: flex;
    /* flex-direction: column;
    justify-content: space-evenly; */
    height: 400px;
    width: 23%;
    background-color: pink;
    background-color: white;
    margin-top: 10px;
}

.box_img1{
    height: 300px;
    width: 100%;
    background-image: url("photos/Fuji_Desktop_Single_image_EBF_1x_v1._SY304_CB573698005_.jpg");
    background-size: cover;
}
.box_img2 {
    height: 300px;
    width: 100%;
    background-image: url("photos/joy_sticks.jpg");
    background-size: cover;
}.box_img3{
    height: 300px;
    width: 100%;
    background-image: url("photos/leptop.jpg");
    background-size: cover;
}.box_img4{
    height: 300px;
    width: 100%;
    background-image: url("photos/watch.jpg");
    background-size: cover;
}
.box_img5{
    height: 300px;
    width: 100%;
    background-image: url("photos/toys.jpg");
    background-size: cover;
}.box_img6{
    height: 300px;
    width: 100%;
    background-image: url("photos/home.jpg");
    background-size: cover;
}.box_img7{
    height: 300px;
    width: 100%;
    background-image: url("photos/heau.jpg");
    background-size: cover;
}.box_img8{
    height: 300px;
    width: 100%;
    background-image: url("photos/shoes.jpg");
    background-size: cover;
}

.inner_box{
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

/* ---------------- Shop section ---------------- */
.back{
    height: 50px;
    background-color: #37475a;
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
}

.back_link{
    text-decoration: none;
    color: white;
}

/* ---------------- Footer section ---------------- */
.foot_panel1{
    height: 350px;
    background-color: #222f3d;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
}

.big{
    font-weight: bold;
    font-size: x-large;
}
li{
    list-style: none;
    padding: 5px;
}

.foot_panel2{
    border-top: .5px solid white;
    height: 120px;
    background-color: #222f3d;
    display: flex;
    justify-content: center;
    align-items: center;
}

.foot_logo{
    height: 50px;
    width: 100px;
    background-image: url("photos/Amazon_logo.png");
    background-size: cover;
}

.foot_language{
    height: 25px;
    color: white;
    width: 100px;
    border: 2px solid white;
    display: flex;
    padding: 10px;
}
.foot_para{
    margin-left: 4px;
}

.foot_panel3{
    background-color: #0f1111;
    height: 150px;
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: center;
    align-items: center;
}
.a{
    color: white;
    text-decoration: none;
}